    .navbar-custom {
    background-color: #ff0000;
    border-color: #AA0000;
    border-radius: 0;
    padding-top: 0px;
    margin:0px 15px 15px 15px;

}

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: #FFF;
    }

    .navbar-custom .navbar-nav > li > a {
        color: #FFF;
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus {
            background-color: #AA0000;
        }

    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus {
        color: #FFF;
        background-color: #AA0000;
    }

    .navbar-custom .navbar-text {
        color: #FFF;
    }

    .navbar-custom .navbar-toggle {
        border-color: #AA0000;
    }

        .navbar-custom .navbar-toggle:hover,
        .navbar-custom .navbar-toggle:focus {
            background-color: #AA0000;
        }

        .navbar-custom .navbar-toggle .icon-bar {
            background-color: #FFF;
        }

    .navbar-custom.navbar-brand > img {
        max-height: 100%;
        height: 100%;
        width: auto;
        margin: 0 auto;
        /* probably not needed anymore, but doesn't hurt */
        -o-object-fit: contain;
        object-fit: contain;
    }
    .navbar-custom.navbar-brand {
        padding-top: -5px;
    }

    .navbar-custom.navbar-collapse {
        float: left;
    }

        .navbar-custom.navbar-logo {
             float: left;
             padding-top:-5px;
        }


body {
    padding-top: 1px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

