@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ASP.NET</h2>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 style="color:dodgerblue;">Designed to Get the Job Done</h3>
        <p>
            In the real world, few things work as well – as reliably, as efficiently, as productively – as a Kenworth truck.
        </p>
        <p><a class="btn btn-default" href="https://www.kenworth.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3 style="color:dodgerblue;">Kenworth News</h3>
        <p>A spotlight on what’s inspiring, what’s happening and what’s new at Kenworth.</p>
        <p><a class="btn btn-default" href="https://www.kenworth.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3 style="color:dodgerblue;">Kenworth History</h3>
        <p>Since 1923, Kenworth has custom-engineered trucks for a wide range of vocational and on-highway applications.</p>
        <p><a class="btn btn-default" href="https://www.kenworth.com/about-us/">Learn more &raquo;</a></p>
    </div>
   
</div>