@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 >KENWORTH </h2>
    <p class="lead">KENWORTH is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4 style="color:dodgerblue;border-width:5px;border-style:solid;border-color:#696969;">&raquo; &raquo; Designed to Get the Job Done</h4>
        <p>
            In the real world, few things work as well – as reliably, as efficiently, as productively – as a Kenworth truck.
        </p>
        <p><a class="btn btn-default" href="https://www.kenworth.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4 style="color:dodgerblue;border-width:5px;border-style:solid;border-color:#696969;">&raquo; &raquo;Kenworth News</h4>
        <p>A spotlight on what’s inspiring, what’s happening and what’s new at Kenworth.</p>
        <p><a class="btn btn-default" href="https://www.kenworth.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4 style="color:dodgerblue;border-width:5px;border-style:solid;border-color:#696969;">&raquo;&raquo;Kenworth History</h4>
        <p>Since 1923, Kenworth has custom-engineered trucks for a wide range of vocational and on-highway applications.</p>
        <p><a class="btn btn-default" href="https://www.kenworth.com/about-us/">Learn more &raquo;</a></p>
    </div>
   
</div>