<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}
<div class="body-content" style="width:100%">
    <div class="jumbotron">
        <p class="jumbotron-custom-text">Welcome to the Family Tree</p>
        <div class="jumbotron-custom"> </div>

    </div>

    <div class="row" style="margin:0 auto; align-content:center; width:100%">
        <div class="col-md-4 appFeatures">
            <a href="/Family/Create" class="appFeatures">
                <h4>Add a New Family Member</h4>
                <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-4 appFeatures">
            <a href="/Family/Index" class="appFeatures">
                <h4>View Your Family Members</h4>
                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-4 appFeatures">
            <a href="/Family/Index" class="appFeatures">
                <h4>Update Your Family</h4>
                <i class="fa fa-address-card fa-5x" aria-hidden="true"></i>
            </a>
        </div>

    </div>
</div>